<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asd.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProjectManagementActivity" />
        <activity android:name=".AddProjectActivity" />
        <activity android:name=".TaskActivity" />
        <activity android:name=".AddTaskActivity"/>
        <activity android:name=".AddSubtaskActivity" />
        <activity android:name=".SubtaskActivity"/>
        <activity android:name=".MemberActivity"/>
        <activity android:name=".AddMemberActivity">
        </activity>
    </application>

</manifest>